

<h1>Slim Loader
</h1>

<nav>
  <div class="grid grid-pad">

    <a routerLink="/dashboard" routerLinkActive="active" class="lg-col-12">
      <div class=" ">Dashboard</div>
    </a>
    <a routerLink="/about" routerLinkActive="active" class="lg-col-12">
      <div class=" ">AboutUs</div>
    </a>   

  </div>
</nav>

<br>
 
<ng2-slim-loading-bar></ng2-slim-loading-bar>
<div Markdown>
    ### your markdown code
 </div>
 <!--<img ng-src="{{'http://github.com' | favicon}}" alt="GitHub">-->
or use angular component
 
<markdown>
    # your markdown code
    **Trustfort**
    _pune_

</markdown>


<router-outlet></router-outlet>
